parameters:
    level: 0
    paths:
        - build/lint_php.php
        - lib/backup.php
        - lib/filedownloads.php
        - lib/totp.php
        - lib/uploads.php
    excludePaths:
        - vendor (?)
        - dist (?)
        - uploads (?)
